body {
    font-family: Roboto;
}
.top {
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 61px;
}
.colortextR {
    color: #000000;
}
.colortextM {
    color: #00bfff;
}
.top a {
    font-size: 80px;
    text-decoration: none;
}
.navi {
    margin-top: 38px;
    width: 1283px;
    height: 72px;
    background: #35444F;
    text-align: center;
    margin-left: 100px;
}
.navi li {
    display: inline-block;
    font-size: 24px;
    border-left: 1px white solid;
    padding: 22px;
}
.navi a {
    text-decoration: none;
    color: white;
}
.navi li:hover{
    background-color: #222F3A;
}
.vertical-menu {
    display: inline-block;
    width: 344px;
    height: 399px;
    border: 1px #808080 solid;
    margin-top: 50px;
    margin-left: 100px;
}
.vertical-menu ul  {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.vertical-menu a {
    display: inline-block;
    text-decoration: none;
    font-size: 27px;
    color: black;
    padding: 24px 0px 25px 44px;
}
.vertical-menu li:hover{
    background-color: #a9a9a9;
    padding-left: 25px;
}
.picture {
    display: inline-block;
    width: 880px;
    height: 529px;
    border: 1px gray solid;
    margin-top: 50px;
    margin-left: 50px;
    vertical-align: top;
    text-align: center;
}
.picture img {
    width: 320px;
    height: 381px;
    margin-top: 80px;
}
.picture img:hover{
    transform: scale(1.2);
    transition: 2s;
}
.content {
    display: inline-block;
    margin-left: 500px;
}
.content p {
    width: 885px;
    font-size: 18px;
    line-height: 24px;
}
.text1 {
    margin-top: 37px;
    margin-bottom: 0px;
}
.text2 {
    margin-top: 34px;
}
.footer {
    display: inline-block;
    width: 1280px;
    height: 69px;
    background: dimgrey;
    margin-left: 100px;
}
.footer li {
    display: inline-block;
    font-size: 24px;
    margin-left: 40px;
}
.footer a {
    text-decoration: none;
    color: #ffffff;
}
.footer a:hover {
    text-decoration: underline;
    color: #6495ed;
}
.copy {
    position:absolute;
    top:1166px;
    right:150px;
    font-size: 24px;
    color: #ffffff;
}